{% extends 'blog/base.html' %}
<!--head title-->
{% block title %} {{post.title}} | Blog {% endblock title %}

<!--body-->
{% block main_area %}
<div id="post-area">
  <!-- Post content-->
  <article>
    <!-- Post header-->
    <header class="mb-4">
      {% if post.category%}
      <span class="badge badge-secondary float-right">{{post.category}}</span>
      {% else %}
      <span class="badge badge-secondary float-right">미분류</span>
      {% endif %}
      <!-- Post title-->
      <h1 class="fw-bolder mb-1">{{post.title}}</h1>
      <!-- Post meta content-->
      <div class="text-muted fst-italic mb-2">
        {{post.created_at}} by Start Bootstrap
      </div>
      <!-- Post categories-->
      <a class="badge bg-secondary text-decoration-none link-light" href="#!"
        >Web Design</a
      >
      <a class="badge bg-secondary text-decoration-none link-light" href="#!"
        >Freebies</a
      >
    </header>
    <!-- Preview image figure-->
    <figure class="mb-4">
      {% if post.head_img %}
      <img
        class="img-fluid rounded"
        src="{{post.head_img.url}}"
        alt="{{post.title}} head image"
      />
      {% endif %}
    </figure>
    <!-- Post content-->
    <section class="mb-5">
      <p class="fs-5 mb-4">{{post.content}}</p>

      {% if post.tag %}
      <i class="fas fa-tags"> </i>
      {% for t in post.tag.iterator %}
      <a href="{{t.get_absolute_url}}">
        <span class="badge badge-pill badge-light">{{t}}</span>
      </a>
      {% endfor %} {% endif %} {% if post.file_upload %}
      <a
        href="{{post.file_upload.url}}"
        class="btn btn-outline-dark"
        role="button"
        download
        >Download: {{post.get_file_name}}</a
      >
      {% endif %}
    </section>
  </article>
</div>

<hr />

<div id="comment-area">
  <!-- Comments section-->
  <section class="mb-5">
    <div class="card bg-light">
      <div class="card-body">
        <!-- Comment form-->
        <form class="mb-4">
          <textarea
            class="form-control"
            rows="3"
            placeholder="Join the discussion and leave a comment!"
          ></textarea>
        </form>
        <!-- Comment with nested comments-->
        <div class="d-flex mb-4">
          <!-- Parent comment-->
          <div class="flex-shrink-0">
            <img
              class="rounded-circle"
              src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
              alt="..."
            />
          </div>
          <div class="ms-3">
            <div class="fw-bold">Commenter Name</div>
            If you're going to lead a space frontier, it has to be government;
            it'll never be private enterprise. Because the space frontier is
            dangerous, and it's expensive, and it has unquantified risks.
            <!-- Child comment 1-->
            <div class="d-flex mt-4">
              <div class="flex-shrink-0">
                <img
                  class="rounded-circle"
                  src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                  alt="..."
                />
              </div>
              <div class="ms-3">
                <div class="fw-bold">Commenter Name</div>
                And under those conditions, you cannot establish a
                capital-market evaluation of that enterprise. You can't get
                investors.
              </div>
            </div>
            <!-- Child comment 2-->
            <div class="d-flex mt-4">
              <div class="flex-shrink-0">
                <img
                  class="rounded-circle"
                  src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                  alt="..."
                />
              </div>
              <div class="ms-3">
                <div class="fw-bold">Commenter Name</div>
                When you put money directly to a problem, it makes a good
                headline.
              </div>
            </div>
          </div>
        </div>
        <!-- Single comment-->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img
              class="rounded-circle"
              src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
              alt="..."
            />
          </div>
          <div class="ms-3">
            <div class="fw-bold">Commenter Name</div>
            When I look at the universe and all the ways the universe wants to
            kill us, I find it hard to reconcile that with statements of
            beneficence.
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock main_area %}
